<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style1.css">
    <link href='https://fonts.googleapis.com/css?family=Lalezar&family=Inter' rel='stylesheet'>
    <title>Dashboard</title>
</head>

<body>
    <div class="NAMEIT-container">
        
        <nav class="sidebar">
            <div class="logo-container">
                <img src="../Images/Logo.jpg" alt="Logo" class="logo">
                <h3>Thifleth’s Sewing 
                    <br>Shop</h3>
            </div>
            <ul>
                
                <li><a href="dashboard.html">Dashboard</a></li>
                
                <li><a href="../Order_Management/Order/Order.html">Procure Supplies</a></li>
                
                <div class="selected">
                    <li>
                        <a href="../Inventory/Inventory.html">Inventory</a>
                    </li>
                </div>
                

                <li><a href="#">Reports</a></li>

                <li><a href="#">Audit Logs</a></li>

                <li>
                    <a href="#" class="toggle">Maintenance</a>
                    <div class="dropdown">
                        <a href="#" class="option">Supplier</a>
                        <div class="round-edges">
                            <a href="#" class="option">User</a>
                        </div>
                    </div>
                </li>

                <li><a href="#">Settings</a></li>
            </ul>
        </nav>
        <div class="NAMEIT-content">
            <header>
                <h1></h1>
            </header>
                    
        
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="script.js"></script>
</body>
</html>
